@import './base.scss';

.main-content{
  border: 0.05rem solid #E5E5E5;
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  min-height: 95vh;
  //display: flex;
  flex-direction: column;
  .kline-container{
    //flex: 1;
    margin: 0 10px;
    
    //border: 1px solid green;
    position: relative;
    min-height: 400px;
    #canvas{
      z-index: 1;
    }
    #canvasTop{
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

html  body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: auto;
}